body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 0.85rem;
    border-radius: 1rem;
    width: 300px;
    box-sizing: border-box;
    box-shadow: 0px 10px 25px 2px hsl(217, 18%, 75%);
}

img {
    width: 100%;
    border-radius: 0.75rem;
}

.text-content {
    text-align: center;
    padding: 0 0.75rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    color: hsl(220, 15%, 55%);
}

.attribution {
    margin-top: 1rem; 
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
